#features{
    background-color: rgb(252, 239, 206);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#features > h2{
    text-align: center;
    font-size: 3rem;
}
#features > div {
    display: flex;
    align-items: center;
    gap: 2em;
   width: 700px;
   margin: 1em;
}
#features > div > span{
    font-size: 1.25rem;
    font-weight: bold;
opacity: 0.7;
}
#about {
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(236, 251, 255); */
}
#about > p {
    max-width: 60ch;
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    opacity: 0.5;
    font-weight: 600;
    margin: 1.5em;
}
#about > h1{
    text-align: center;
    width:80%;
    font-size: 3rem;
    font-weight: 100;
}
#contact {
    background-color: rgb(1, 15, 33);
    color: white;
    padding: 2em;
    padding-bottom: 4em;
}
#contact > h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1em;
}
#contact > .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#contact > .wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#contact > .wrapper > div > span{
    opacity: 0.9;
    margin-top: 0.5em;
}